[Unit]
Description=Effectue une operation iw toutes les 2s.

[Service]
User=MOI
Group=MOI
Restart=always
RestartSec=2s
ExecStart=/home/MOI/bin/hotspotawake.sh

[Install]
WantedBy=multi-user.target

