#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[fr_FR]=Imppg
Name[fr_FR]=Imppg
Exec=~/bin/imppg/imppg
Name=Imppg
Icon=~/bin/imppg/images/imppg-app.png
Categories=Application;Education;
