[connection]
id=MOIbox
uuid=UUID
type=wifi
interface-name=wlan0
permissions=
secondaries=

[wifi]
mac-address=MAC_ADDRESS
mac-address-blacklist=
mac-address-randomization=0
mode=ap
seen-bssids=
ssid=nafabox

[ipv4]
dns-search=
method=shared

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
ip6-privacy=0
method=ignore

