[Unit]
Description=Start novnc at startup
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/MOI/noVNC/utils/launch.sh --vnc localhost:5900 --listen 5901 --web /home/MOI/noVNC
Restart=on-success
SuccessExitStatus=3

[Install]
WantedBy=multi-user.target

