#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=TERMOP
Exec=APP_EXEC
Name=NAME
Icon=APP_ICON
Categories=Application;Education;
