[Unit]
Description=Start x11vnc at startup.
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -forever -bg -noxdamage -noxrecord -repeat -rfbauth /home/MOI/.vnc/passwd -rfbport 5900 -shared -xkb
 
[Install]
WantedBy=multi-user.target
