[Unit]
Description=Start x11vnc at startup.
 
[Service]
User=MOI
Group=MOI
ExecStart=/usr/bin/x11vnc OPTION
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
